html {
    box-sizing: border-box;
    font-size: 1vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.scroll-overlay {
    height: 1000dvh;
}

*, *:before, *:after {
    box-sizing: inherit;
    scrollbar-width: none; /* Firefox */
}

.sidebar {
    position: fixed;
    height: 100dvh;
    width: 33vw;
    top: 0;
    left: 0;
    padding: 1rem;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    border-right: solid 1px black;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.aktuelles-cards {
    display: grid;
    width: 100%;
    margin-bottom: 2rem;

    > * {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.aktuelles-card {
    border: 1px solid black;
    border-radius: 1rem;
    height: 10rem;
    background: white;
    transform-origin: top center;
    transform:
        translateY(calc(var(--i) * 0.625rem))
        scale(calc(1 - var(--i) * 0.03));
    z-index: calc(100 - var(--i));
}
