.intro-text {
  /* position und z-index hier komplett entfernt! */
  margin: 1px 1.5rem;
  padding: 0.9rem 0 1rem 0;
  scroll-snap-align: start; 
  border-bottom: 1px solid var(--color-brown);
  color: var(--color-brown);
  font-family: "HAL Timezone", serif;
  font-style: normal;
  font-synthesis: none; 
  transition: transform 0.35s ease;

  @media (max-width: 900px) {
    padding: 2rem 0 2rem 0;
    margin: 2.9rem;
  }
}
.intro-text__body {
  max-width: 75%; // text fills 75%; the border stays full width on .intro-text
  font-size: var(--font-size-large-serif);
  line-height: 1.2;

    @media (max-width: 900px) {
        max-width: 90%; 

    }
}
